*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root{
  --dark-gray: #262626;
  --very-lite-gray: #e0e5e9;
  --lite-gray: #9d9da1;
  --blue: #0295db;
}

/* Header Componenet */

.header-container{
  display:flex;
  justify-content: space-between;
}

.navbar-list{
  display: flex;
  gap: 40px;
}

.navbar-list-item{
  list-style: none;
}

.navbar-list-item a{
  text-decoration: none;
}