*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Component */

.navbar-hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.navbar{
  display: flex;
  gap: 20px;
}

.navbar-list{
  display: flex;
  gap: 15px;
}

.navbar-list-item{
  list-style: none;
}

.navbar-list-item a{
  text-decoration: none;
}