* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --dark-gray: #262626;
  --very-lite-gray: #e0e5e9;
  --lite-gray: #9d9da1;
  --blue: #0295db;
}

/* section {
  border: 1px solid black;
} */

body {
  background: var(--very-lite-gray);
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--dark-gray);
}

li a:hover {
  font-weight: bolder;
  color: var(--blue);
}

/* Components */

/* Header Component */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.navbar-list {
  display: flex;
  gap: 40px;
}

.user-info {
  display: flex;
  gap: 40px;
}

.cart-icon,
.user-icon {
  color: var(--dark-gray);
  width: 25px;
  height: 25px;
  margin: 10px;
}

.cart-icon:hover,
.user-icon:hover {
  color: var(--blue);
}

/* HeroHP Conponent */

.hero-container,
.about-hp-container,
.about-container {
  padding: 60px 0;
  display: flex;
  gap: 50px;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

/* AboutHP Component */

.about-hp-btn,
.hero-btn {
  cursor: pointer;
  background: var(--blue);
  color: var(--very-lite-gray);
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.about-hp-btn:hover,
.hero-btn:hover {
  background: var(--dark-gray);
}

/* Footer Component */

.footer-section {
  background: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.social-link-item a,
.nav-link-item a,
.legal-link-item a {
  color: var(--lite-gray);
}

.social-links {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.facebook-icon,
.twitter-icon {
  width: 25px;
  height: 25px;
}

/* About Component */

.cow-1-img {
  width: 50%;
}

/* Contact Component */

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
  height: 25px;
}

.contact-header {
  margin: 20px 0;
}

.contact-container {
  width: 60%;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
}

.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.name-container {
  display: flex;
  gap: 50px;
}

.first-name-container,
.last-name-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit-btn {
  margin-top: 20px;
}
/* Pages */
